@{
    ViewData["Title"] = "Управление участками";
}


<script src="~/js/call-scripts/maps-editor.js" asp-append-version="true"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
<link href="~/css/sweetalert2.css" rel="stylesheet" />

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPao9V4NIAQgTD7O5a4Xf8n3fk7rkdf2s&callback=initMap&language=RU&libraries=drawing" async defer></script>
<script src="https://unpkg.com/vuejs-paginate@latest"></script>
<script src="https://unpkg.com/vuejs-paginate@0.9.0"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.all.min.js"></script>
<script src="~/lib/maplabel.js"></script>
<script>Vue.component('paginate', VuejsPaginate)</script>


<script src="~/js/call-scripts/lands-page.js" asp-append-version="true"></script>
<script src="~/js/call-scripts/edit-land-modal.js" asp-append-version="true"></script>


<div class="root fill-remaining-height lands-page">
    <div v-bind:class="{ 'drawing-mode': isDrawingEnabled }" class="left-block">
        <div class="row">
            <div class="col-6">
                <h5><i class="fas fa-list"></i> Список участков (Всего: {{ totalRecords }})</h5>
            </div>
            <div class="col-6 text-right">
                <a href="javascript:;" v-on:click="newLand" class="btn btn-primary btn-xs">
                    <i class="fas fa-plus-square"></i>
                    Создать
                </a>
            </div>
        </div>
        <div class="table-list">
            <div class="display: flex; justify-content: space-between;">
                <span>
                    На странице
                    <select v-model="config.take" class="form-control form-control-sm per-page-control">
                        <option>20</option>
                        <option>50</option>
                        <option>100</option>
                        <option>200</option>
                    </select>
                </span>
                <nav class="table-nav" aria-label="Page navigation example">
                    <paginate :page-count="totalPages"
                              :click-handler="changePage"
                              :prev-text="'След.'"
                              :next-text="'Пред.'"
                              :page-link-class="'page-link'"
                              :page-class="'page-item'"
                              :prev-link-class="'page-link'"
                              :prev-class="'page-item'"
                              :next-link-class="'page-link'"
                              :next-class="'page-item'"
                              :container-class="'pagination pagination-sm'">
                    </paginate>
                </nav>
            </div>
            <table class="table table-sm table-striped table-bordered lands-table-header">
                <thead>
                    <tr>
                        <th class="land-number">#</th>
                        <th class="land-name">Наименование</th>
                        <th class="land-type">Тип</th>
                        <th class="actions"></th>
                    </tr>
                </thead>
            </table>

            <div class="scroll-wrapper">
                <table class="table table-sm table-striped table-bordered table-hover lands-table-body">
                    <tbody>
                        <tr v-for="item in items">
                            <td class="land-number">{{ item.Id }}</td>
                            <td class="land-name">{{ item.Name }}</td>
                            <td class="land-type">
                                <span v-if="!!item.LandTypeId"> {{ item.LandType.Name }}</span>
                                <span v-else><em>не указано</em></span>
                            </td>
                            <td class="actions">
                                <span v-on:click="viewLand(item.Id)" class="btn btn-xs btn-primary"><i class="fas fa-eye"></i></span>
                                <span v-on:click="deleteLand(item.Id)" class="btn btn-xs btn-danger"><i class="fas fa-trash-alt"></i></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="right-block">
        <div class="row">
            <div class="col-6">
                <h5>
                    <i class="fas fa-map-marked"></i> Карта
                </h5>
            </div>
            <div class="col-6 text-right">
                <div v-if="isDrawingEnabled">
                    <span v-on:click="applyShape" v-if="shapeDrawn" class="btn btn-xs btn-success d-inline ml-2">
                        <i class="fas fa-check"></i>
                        Заполнить карточку
                    </span>
                    <span v-on:click="clearMap" v-if="shapeDrawn" class="btn btn-xs btn-warning ml-2 d-inline">
                        <i class="fas fa-eraser"></i>
                        Очистить
                    </span>
                    <span v-on:click="disableDrawing" class="btn btn-xs btn-danger ml-2 d-inline">
                        <i class="fas fa-undo"></i>
                        Отмена
                    </span>
                </div>
            </div>
        </div>
        <div id="map-placeholder" class="table-list ">
        </div>
    </div>
</div>

@Html.Partial("~/Views/Home/EditLandModal.cshtml")
