@{
    ViewData["Title"] = "Управление участками";
}


<script src="~/js/call-scripts/maps-editor.js" asp-append-version="true"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
<link href="~/css/sweetalert2.css" rel="stylesheet" />

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPao9V4NIAQgTD7O5a4Xf8n3fk7rkdf2s&callback=initMap&language=RU&libraries=drawing" async defer></script>
<script src="https://unpkg.com/vuejs-paginate@latest"></script>
<script src="https://unpkg.com/vuejs-paginate@0.9.0"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.33.1/sweetalert2.all.min.js"></script>
<script>Vue.component('paginate', VuejsPaginate)</script>


<script src="~/js/call-scripts/lands-page.js" asp-append-version="true"></script>
<script src="~/js/call-scripts/edit-land-modal.js" asp-append-version="true"></script>


<div class="root fill-remaining-height lands-page">
    <div class="left-block">
        <div class="row">
            <div class="col-6">
                <h5><i class="fas fa-list"></i> Список участков (Всего: {{ totalRecords }})</h5>
            </div>
            <div class="col-6 text-right">
                <a href="javascript:;" v-on:click="newLand" class="btn btn-primary btn-xs">
                    <i class="fas fa-plus-square"></i>
                    Создать
                </a>
            </div>
        </div>
        <div class="table-list">
            <div class="display: flex; justify-content: space-between;">
                <span>
                    На странице
                    <select v-model="config.take" class="form-control form-control-sm per-page-control">
                        <option>20</option>
                        <option>50</option>
                        <option>100</option>
                    </select>
                </span>
                <nav class="table-nav" aria-label="Page navigation example">
                    <paginate :page-count="totalPages"
                              :click-handler="changePage"
                              :prev-text="'След.'"
                              :next-text="'Пред.'"
                              :page-link-class="'page-link'"
                              :page-class="'page-item'"
                              :prev-link-class="'page-link'"
                              :prev-class="'page-item'"
                              :next-link-class="'page-link'"
                              :next-class="'page-item'"
                              :container-class="'pagination pagination-sm'">
                    </paginate>
                </nav>
            </div>
            <table class="table table-sm table-striped table-bordered lands-table-header">
                <thead>
                    <tr>
                        <th class="land-number">#</th>
                        <th>Наименование</th>
                        <th class="land-type">Тип</th>
                        <th class="actions"></th>
                    </tr>
                </thead>
            </table>

            <div class="scroll-wrapper">
                <table class="table table-sm table-striped table-bordered table-hover lands-table-body">
                    <tbody>
                        <tr v-for="item in items">
                            <td class="land-number">{{ item.Id }}</td>
                            <td>{{ item.Name }}</td>
                            <td class="land-type">{{ item.LandType.Name }}</td>
                            <td class="actions">
                                <span v-on:click="viewLand(item.Id)" class="btn btn-xs btn-primary"><i class="fas fa-eye"></i></span>
                                <span v-on:click="deleteLand(item.Id)" class="btn btn-xs btn-danger"><i class="fas fa-trash-alt"></i></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="right-block">
        <div class="row">
            <div class="col-6">
                <h5>
                    <i class="fas fa-map-marked"></i> Карта
                </h5>
            </div>
            <div class="col-6 text-right">
                <span class="btn btn-xs btn-success d-inline">
                    <i class="fas fa-check"></i>
                    Применить
                </span>
                <span class="btn btn-xs btn-danger ml-2 d-inline">
                    <i class="fas fa-times"></i>
                    Очистить
                </span>
            </div>
        </div>
        <div id="map-placeholder" class="table-list ">
        </div>
    </div>
</div>

<div v-show="visible" class="edit-land-modal">
    <div style="display: inline-block; background-color: rgba(0, 0, 0, 0.2);" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div v-bind:class="{ 'modal-readonly': readOnly }" class="modal-content">
                <div class="modal-header">
                    <h5 v-if="entity.Id > 0" class="modal-title">Просмотр участка #{{ entity.Id }}</h5>
                    <h5 v-else class="modal-title">Новый земельный участок</h5>
                    <span v-on:click="close()" class="close">
                        <span aria-hidden="true">&times;</span>
                    </span>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>Наименование земельного участка</label>
                                <input v-bind:readonly="readOnly" v-model="entity.Name" type="email" class="form-control" placeholder="Введите наименование">
                                <small v-if="!entity.Name" class="form-text text-danger">Поле обязательно для заполнения.</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>Кадастровый номер земельного участка</label>
                                <input v-bind:readonly="readOnly" v-model="entity.CadastralNumberOfLand" type="email" class="form-control" placeholder="Введите кадастровый номер">
                                <small v-if="!entity.CadastralNumberOfLand" class="form-text text-danger">Поле обязательно для заполнения.</small>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Инвентарный номер основного средства</label>
                                <input v-bind:readonly="readOnly" v-model="entity.AssetNumber" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Не указан">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Тип земельного участка</label>
                                <select v-model="entity.LandTypeId" class="form-control">
                                    <option value="null">Не указан</option>
                                    <option v-bind:value="item.Id" v-for="item in entity.AvaliableLandTypeItems" value="">{{ item.Name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Вид права Общества на земельный участок</label>
                                <select v-model="entity.LandRightTypeId" class="form-control">
                                    <option value="null">Не указан</option>
                                    <option v-bind:value="item.Id" v-for="item in entity.AvaliableLandRightTypeItems" value="">{{ item.Name }}</option>
                                </select>
                            </div>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <div>
                                    <div v-if="!!entity.DocumentOnLandFileName" class="btn-group" role="group">
                                        <button type="button" v-on:click="downloadFile" class="btn btn-secondary">
                                            <i class="fas fa-file"></i>
                                            {{ entity.DocumentOnLandFileName }}
                                        </button>
                                        <button v-if="!readOnly" type="button" v-on:click="removeFile" class="btn btn-dark">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </div>
                                    <label v-if="!entity.DocumentOnLandFileName && !readOnly" class="custom-file-upload btn btn-primary mb-0">
                                        <input v-on:change="fileSelected" type="file" />
                                        <i class="fas fa-upload"></i>
                                        Прикрепить файл
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button v-if="readOnly" v-on:click="edit()" type="button" class="btn btn-primary">
                        <i class="fas fa-edit"></i>
                        Редактировать
                    </button>
                    <button v-bind:class="{ 'disabled-button': (!entity.CadastralNumberOfLand || !entity.Name) }" v-else v-on:click="save()" type="button" class="btn btn-primary">
                        <i class="fas fa-save"></i>
                        Сохранить
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>