@{
    ViewData["Title"] = "Реестр земель";
}

<div class="root fill-remaining-height">
    <div class="left-block">
        <div>
            <h5><i class="fas fa-list"></i> Список земель</h5>
        </div>
        <div class="table-list">

        </div>
    </div>
    <div class="right-block">
        <div>
            <h5><i class="fas fa-map-marked"></i> Карта</h5>
        </div>
        <div class="table-list">

        </div>
    </div>
</div>
