/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html,
body {
    height: 100%;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

.fill-remaining-height {
    display: flex;
    flex-flow: column;
    height: 100%;
}


body {
    height: calc(100%);
    margin: 0px;
}


.root {
    padding: 15px;
    flex-flow: row !important;
}

.left-block {
    height: 100% !important;
    width: 700px !important;
}

.right-block {
    height: 100% !important;
    flex-grow: 1 !important;
    padding-left: 15px;
}


.table-list {
    width: 100%;
    height: calc(100% - 41px);
}


.btn-group-xs > .btn, .btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
}


.lands-table-header {
    table-layout: fixed;
    margin: 0px;
}

.lands-table-body {
    table-layout: fixed;
}

.land-number {
    width: 80px;
}

.land-type {
    width: 100px;
}


.actions {
    width: 89px;
}

.scroll-wrapper {
    display: inline-block;
    height: calc(100% - 81px);
    overflow-y: overlay;
}


.per-page-control {
    display: inline-block;
    width: 68px;
}

.table-nav {
    display: inline-block !important;
    float: right !important;
}

.edit-land-modal .modal-dialog {
    max-width: 1000px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}